html {
	height: 100%;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

p {
	font-family: "Liberation Sans";
}

svg > path {
	transition: fill 0.3s ease-out;
}

svg:hover > path {
	fill: white;
}

.content {
	flex: 1;
}

footer {
	height: 50px; /* the footer's total height */
}

#name,
#ContactCommentt {
	width: 80%;
	border: solid 1px #cf3333;
	border-radius: 10px;
	text-align: center;
}

label {
	font-size: x-large;
	font-weight: bold;
	text-decoration: underline #cf3333;
}

#submit {
	margin-bottom: 20px;
}
